*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Roboto', sans-serif; */


.body-width{
    max-width: 1480px;
    padding: 63px 100px 30px;
    border: 1px solid rgb(0, 0, 0);
}

.header-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 49px;
}

.logo{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    color: #000000;
    margin-bottom: 40px;
}
.logo span{
    color: #4BCAFF;
}
.header-navigation-container{
    width: 100%;
    height: 69px;
    background-color: #35444F;
    align-items: center;
    justify-content: center;
    padding: 24px 0 18px;

}
.header-navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-navigation-item{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    padding: 24px 40px 18px;
    border-left: 1px solid #FFFFFF;
}

.header-navigation-item-4{
    border-right: 1px solid #FFFFFF;
}
.header-navigation-item:hover{
    background-color: #222F3A;
}

.main-section{
    display: flex;
    flex-direction: row;
    gap: 53px;
    margin-bottom: 54px;
}

.aside-menu{
    display: flex;
    flex: 344px;
    flex-direction: column;
}
.aside-menu-container{
    border: 1px solid black;

}
.aside-menu-item{
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    color: #35444F;
    display: flex;
    padding: 26px 0 26px 44px;
    /* border: 1px solid skyblue; */
}
.aside-menu-item:hover{
    color: #000000;
    padding-left: 69px;
    background-color:#DBDBDB;
}


.main-container{
    display: flex;
    flex-direction: column;
    flex: 885px;
    justify-content: center;
    align-items: center;
}
.image-container{
    display: flex;
    height: 529px;
    width: 885px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    margin-bottom: 37px;
    
}
.image{
    padding: 74px ;
}

.image:hover{
    transition: transform 1s;
    transform:scale(1.2);

}


.main-text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #2C2C2C;
}
.main-text1{
    margin-bottom: 34px;
}
.footer-container{
    display: flex;
    flex-direction: row;
    background-color: #63696E7A;
    justify-content: space-between;
}
.footer-menu-container{
    display: flex;
    flex-direction: row;
    padding: 20px 0 20px 40px;
    gap: 40px;
    background-color: #rgba(99, 105, 110, 0.48);    
}
.footer-menu-item{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    color: #0C1927;
}
.footer-menu-item:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copyright{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color:#010101;
    margin-right: 40px;
}